<!DOCTYPE html>
<html lang="en">

{% include head.html %}
<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}



<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
{% include open-embed.html %}
<script type="text/javascript" color="238,205,205" opacity='0.7' zIndex="-1" count="150" src="{{ site.baseurl }}/js/canvas-nest.min.js"></script>

<!--鼠标点击爱心动画-->
<script type="text/javascript" src="{{ site.baseurl }}/js/src/love.js"></script>

</body>

</html>
