---
layout: default
---

<article id="main">

  <section class="wrapper style4">
    <div class="inner">
      <h2>{{ page.title }}</h2>
      <h5>{{ page.author }}</h5>
      <h6>{{ page.time }}</h6>

      {{ content }}
    </div>
  </section>

  <section class="wrapper style4">
    <div class="inner">
      <div id="container"></div>
      <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
      <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
      <script>
        var gitment = new Gitment({
          id: '页面 ID', // 可选。默认为 location.href
          owner: 'PriceWang',
          repo: 'blog',
          oauth: {
            client_id: 'f606eaa92358ba46ed06',
            client_secret: '331564faaf7a646f4c11e9f31021f7a42fe93766',
          },
        })
        gitment.render('container')
      </script>
    </div>
  </section>

</article>
